/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize
 *= require leaflet
 *= require Leaflet.Instagram
 *= require MarkerCluster
 *= require MarkerCluster.Default
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
}

body {
  background: #f0f0f0;
  line-height: 1.4;
}

#map {
  flex: 1;
  height: 100vh;
  display: block;
}

#container {
  display: flex;
}

#sidebar {
  width: 200px;
  padding: 10px;
  background: #f0f0f0;
}

.fa-stack-1x {
  color: #A09E84;
}

div.flex-container {
  display: flex;
}

div.flex-container > div {
  padding: 10px;
  flex: 1;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  height: 100vh;
  display: block;
}

.button {
  background: #A09E84;
  height: 100%;
  padding: 20px;
  color: #FFF;
}

div.input {
  margin-bottom: 1em;
}

label {
  width: 200px;
  display: inline-block;
}


ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#wikihouse-logo {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 5000;
  width: 100px;
  max-width: 10%;
}