#container {
  display: flex;
}

#sidebar {
  width: 200px;
  padding: 10px;
  background: #f0f0f0;

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

#map {
  flex: 1;
  height: 100vh;
  display: block;

  h2 {
    margin-top: 0;
    font-size: 20px;
  }

  .leaflet-popup-content {
    max-height: 300px;
    overflow-y: auto;
    margin: 15px;

    &, * {
      max-width: 100%;
      word-wrap: break-word;
    }

    :last-child {
      margin-bottom: 0;
    }

    p {
      margin: 10px 0;
    }

    ul {
      padding: 0;
      list-style-type: none;
    }
  }

  .leaflet-popup-instagram a.leaflet-popup-close-button {
    width: 25px;
    height: 25px;
  }
}

.vector-marker {
  i {
    top: 4px;
  }
}

.marker-Contributor {
  svg path {
    fill: #509752;
  }
}

.marker-Build {
  svg path {
    fill: #975150;
  }
}
