<%= build.description %>

<% if build.stage? %>
  <p><strong>Stage</strong>: <%= build.stage %></p>
<% end %>

<% if build.contributors? %>
  <p><strong>Contributors</strong>: <%= build.contributors %></p>
<% end %>

<%= build.link_list %>
