<fieldset>
  <legend>Location</legend>
  <%= form.input :address, as: :string, hint: "You can drag the map marker to position it more accurately" %>
  <div id="geocomplete-map"></div>
  <%= form.input :lat, input_html: { data: { geo: "lat" } }, as: :hidden %>
  <%= form.input :lng, input_html: { data: { geo: "lng" } }, as: :hidden %>
</fieldset>
