<div id="container">
<div id="map"></div>
<div id="sidebar">
  <ul>
    <% if policy(Place).create? %>
      <li><%= link_to fa_icon("plus", text: "Add a place"), new_place_path %></li>
    <% end %>
  </ul>
</div>
</div>
